<hr>
<div class="container">
  <div class="row">
  <div class="col-md-3 col-sm-3 col-xs-6">
    <div class="alert alert-info back-widget-set text-center">
          <i class="ion-ios-people-outline fa-5x"></i>
          <h3>500+&nbsp; <i class="fa fa-dollar"></i></h3>
         To stay in touch with
      </div>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-6">
    <div class="alert alert-success back-widget-set text-center">
          <i class="fa-5x ion-ios-list-outline"></i>
          <h3>300+ Tasks</h3>
          Pending For New Goals
      </div>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-6">
    <div class="alert alert-warning back-widget-set text-center">
          <i class="ion-android-bulb fa-5x"></i>
          <h3>56+ Calls</h3>
         To Be Made For Deals
      </div>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-6">
    <div class="alert alert-danger back-widget-set text-center">
          <i class="ion-ios-pulse fa-5x"></i>
          <h3>30+ Issues </h3>
           Should Be Resolved Now
      </div>
    </div>
  </div>
</div>
<hr>
