<!DOCTYPE html>
<html>
  <head>
    <title>Hudson Commercial</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<!-- Latest compiled and minified Bootstrap CSS -->

<style>
  .main-wrapper {
   display: block;
   color: #fff;
   height: 100vw;


 }
 .main-wrapper::before  {
   display: block;
 }
  .main-wrapper::after {
    display: none;
  }
 body {
   border-top: 5px solid #004267;
   background: #263238;
 }

.temp-headeing {
  margin: 40px;
}
.dropdown-toggle::after {
    display:none
}

</style>


<BODY>
<nav class="navbar navbar-expand-md navbar-dark bg-dark flex-row">
        <a class="navbar-brand mr-auto" href="/">
            <h3 class="navbar-brand" >Hudson Commercial</h3>
        </a>
        <ul class="navbar-nav flex-row mr-lg-0">
            <li class="nav-item">
                 <a class="nav-link pr-2"><i class="fa fa-search"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link pr-2"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle mr-3 mr-lg-0" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i><span class="ion-android-apps"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="">User</a>
                    <a class="dropdown-item" href="">Login</a>
                </div>
            </li>
        </ul>
        <button class="navbar-toggler ml-lg-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <nav class="navbar navbar-expand-md navbar-light navbar-trans" id="lower-navbar">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item card-inverse">
                    <a class="nav-link"  id="nav1" href="/">Log out</a>
                </li>
<!--                 <li class="nav-item ">
                    <a class="nav-link"  id="nav2" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav3" href="#">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  id="nav4" href="#">Sign up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav5" href="#">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  id="nav6" href="#">Dashbord</a> -->
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" id="search">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
<div>

</div>


        <%= yield %>
        <div class="main-wrapper">
    </div>
<!-- jQuery library -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<!-- Popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<!-- Latest compiled and minified Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- Initialize Bootstrap functionality -->
<script>
// Initialize tooltip component
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

// Initialize popover component
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>
   <!-- MENU SECTION END-->

</html>
